html {
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: 'Laila', sans-serif;
}

.navigation {
  height: auto;
  display: grid;
  place-items: center;
}

header {
  background: #D7C3B1;
  margin: 0;
  padding: 0;
  text-align: center;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.navigation ul {
  display: flex;
  gap: 5rem;
  justify-content: center;
  list-style: none;
}


.navigation a {
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  background-color: #D7C3B1;
  border-radius: 0;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: linear;
  transition: background-color .5s linear,border-radius .3s ease;
}

.navigation a:hover {
  color: #D7C3B1;
  background-color: #ffffff;
  border-radius: 5px;
}

p {
  font-family: 'Jaldi', sans-serif;
  font-size: 1.5rem;
}

nav img {
  translate: -50px 5px;
}

.opening {
  margin: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

.opening img {
  translate: 0px;
  max-width: 500px;
}

.opening h1, h2 {
  font-size: 2rem;
}

.opening p {
  max-width: 750px;
}

.information {
  margin: 4rem;
  gap: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.information h2 {
  text-align: center;
  padding: 2rem;
  place-items: center;
  background-color: #A3B8C8;
}

.information h3 {
  font-size: 2rem;
}

.information img {
  max-width: 500px;
}

.product {
  margin: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.product img {
  max-width: 500px;
}

.product nav ul {
  list-style-type: none;
  text-align: center;
}

.product a {
  font-size: 1rem;
  color: #000000;
  text-decoration: none;
  background-color: #D9D9D9;
  border-radius: 5px;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: linear;
  transition: background-color .5s linear,border-radius .3s ease;
}

.product a:hover {
  color: #D9D9D9;
  background-color: #000000;
  border-radius: 10px;
}

footer {
  background: #A3B8C8;
  color: #ffffff;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 1500px) {
  nav img {
    translate: -500px 5px;
  }

  .opening {
    margin: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
  }

  .opening img {
    translate: 0px;
    max-width: 500px;
  }

  .opening h1, h2 {
    font-size: 3rem;
    translate: -100px;
  }

  .opening p {
    translate: 615px -500px;
    max-width: 600px;
  }

  .information {
    margin: 4rem;
    gap: 4rem;
  }

  .information img {
    translate: 0px;
    max-width: 500px;
  }

  .information h2 {
    text-align: center;
    padding: 4rem;
    place-items: center;
    background-color: #A3B8C8;
  }

  .information h3 {
    font-size: 3rem;
    translate: 600px -400px;
  }

  .information p {
    translate: 600px -400px;
    max-width: 1000px;
  }

  .product {
    margin: 4rem;
    display: grid;
  }

  .product img {
    max-width: 500px;
  }

  .product nav ul {
    list-style-type: none;
    text-align: center;
    translate: 200px -570px;
  }

  .product a {
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    background-color: #D9D9D9;
    border-radius: 5px;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: linear;
    transition: background-color .5s linear,border-radius .3s ease;
  }

  .product a:hover {
    color: #D9D9D9;
    background-color: #000000;
    border-radius: 10px;
  }

  .product h2 {
    translate: 600px -500px;
  }

  .product p {
    translate: 600px -500px;
    max-width: 1000px;
  }

  footer {
    background: #A3B8C8;
    color: #ffffff;
    text-align: center;
    width: 100%;
  }
}
